<div class="container">
  <h1>Lista de Items en Bodega <%= idBodega %></h1>
  <% for (i = 0; i < items.length;i++) { %>
  <div class="row">
    <div class="col-sm-8">
      <h4>Nombre: <%= items[i].nombre %></h4>
      <h4>Cantidad: <%= items[i].cantidad %></h4>
      <h4>Peso: <%= items[i].peso %></h4>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2">
      <a href="/editarItem?id=<%= items[i].id %>&bodega=<%= idBodega%>" class="btn btn-block btn-info">Editar</a>
      <a href="/Item/borrarItem?id=<%= items[i].id %>&bodega=<%= idBodega%>" class="btn btn-block btn-danger">Borrar</a>
    </div>
  </div>
  <% } %>
  <div class="row">
    <a href="/nuevoitem?idBodega=<%= idBodega %>" class="btn btn-block btn-success">Nuevo Item</a>
  </div>
</div>
